<!DOCTYPE html>
<html>
<head>
  <title>Habit Tracker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

  <div class="header">
    <h1>Habit Tracker</h1>
    <div class="nav">
      <a href="/stats">Stats</a>

      <form action="/logout" method="post" style="display:inline;">
        <button type="submit">Logout</button>
      </form>

    </div>
  </div>

  <div class="card">
    <form class="form" method="POST">
      <input type="text" name="habit" placeholder="Habit name" required>

      <input type="text" name="category" placeholder="Category">

      <input type="color" name="color" value="#4CAF50" required>

      <input type="time" name="reminder_time">

      <button class="btn-primary" type="submit">Add</button>
    </form>
  </div>

  <div class="card">
    <ul class="list">
      {% for habit in habits %}
      <li class="item">
        <div class="left">
          <strong>{{ habit.name }}</strong>
          <div class="meta">
          {% if habit["last_done"] %}
            <span class="badge">Last Done: {{ habit["last_done"] }}</span>
          {% endif %}
          {% if habit["done_today"] %}
            <span class="status done">✅</span>
          {% else %}
            <span class="status not">❌</span>
          {% endif %}
          <span class="badge">🔥 {{ habit.streak }}</span>
          </div>
        </div>
        <div style="border-left: 5px solid {{ habit.color }};">
            {{ habit.name }} ({{ habit.category }})
        </div>

        <div class="actions">
          <a class="btn-ghost" href="/toggle/{{ habit['id'] }}">Toggle</a>
          <a class="btn-ghost" href="/calendar/{{ habit.id }}">Calendar</a>
          <form action="/delete/{{ habit.id }}" method="POST" style="display:inline;">
              <button type="submit" class="btn-danger">Delete</button>
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>

</body>
</html>
