<!DOCTYPE html>
<html>
<head>
  <title>Habit Tracker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

  <div class="header">
    <h1>Habit Tracker</h1>
    <div class="nav">
      <a href="/stats">Stats</a>

      <form action="/logout" method="post" style="display:inline;">
        <button type="submit">Logout</button>
      </form>

    </div>
  </div>

  <div class="card">
    <form class="form" method="POST">
      <input type="text" name="habit" placeholder="Add a new habit" required>
      <button class="btn-primary" type="submit">Add</button>
    </form>
  </div>

  <div class="card">
    <ul class="list">
      {% for habit in habits %}
      <li class="item">
        <div class="left">
          <strong>{{ habit["name"] }}</strong>
          {% if habit["last_done"] %}
            <span class="badge">Last: {{ habit["last_done"] }}</span>
          {% endif %}
          {% if habit["done_today"] %}
            <span class="status done">✅</span>
          {% else %}
            <span class="status not">❌</span>
          {% endif %}
          <span class="badge">🔥 {{ habit["streak"] }}</span>
        </div>

        <div class="actions">
          <a class="btn-ghost" href="/toggle/{{ habit['id'] }}">Toggle</a>
          <a class="btn-danger" href="/delete/{{ habit['id'] }}">Delete</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>

</body>
</html>
