<!DOCTYPE html>
<html>
<head>
    <title>Stats</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h1>📊 Your Habit Stats</h1>

<p><strong>Total habits:</strong> {{ total }}</p>
<p><strong>Completed today:</strong> {{ completed_today }}</p>
<p><strong>Best streak:</strong> 🔥 {{ best_streak }}</p>

<canvas id="weeklyChart" width="400" height="200"></canvas>

<script>

const ctx = document.getElementById('weeklyChart');
const labels = {{ days|tojson }};
const values = {{ counts|tojson }};

new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Completed Habits',
            data: values,
            backgroundColor: "#4CAF50"
        }]
    },
    options: {
        responsive: true,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>


<br>
<a href="/">⬅ Back to Home</a>

</body>
</html>
